


    <h1>Enter your info :</h1>
    <form action="/login" method="post" name="form">
            <input type="text" placeholder="Your name..." name="username" required>
            <input type="password" placeholder="Your password... " name="password" required>
            <button type="submit">Send</button>
    </form>

    <script src="../../app.js"></script>
